In [1]:
from os.path import join as jn

import pandas as pd
import trimesh

In [2]:
%cd ..

/home/jovyan/sensor

In [3]:
db_p = "data/meshes"

In [4]:
info = pd.read_csv(jn(db_p, "info.csv"))
info.head()

   id            path  type  water
0   0  db/m0/mesh.stl     0   True
1   1  db/m1/mesh.stl     0  False
2   2  db/m2/mesh.stl     0  False
3   3  db/m3/mesh.stl     0   True
4   4  db/m4/mesh.stl     0  False

In [5]:
wm = info[info["water"] == True]

In [6]:
meshes = wm["path"].apply(lambda path: trimesh.load_mesh(jn(db_p, path)))

In [7]:
pieces = []
for i, m in meshes.iteritems():
    try:
        pieces.append(
            pd.Series({i: len(m.split())})
        )
    except:
        pass
pieces = pd.concat(pieces).rename("n_pieces")

In [8]:
info2 = pd.concat([info,pieces],axis=1)

In [9]:
info2[info2['n_pieces']==1]

        id               path  type  water  n_pieces
34      34    db/m34/mesh.stl     0   True       1.0
35      35    db/m35/mesh.stl     0   True       1.0
37      37    db/m37/mesh.stl     0   True       1.0
44      44    db/m44/mesh.stl     0   True       1.0
50      50    db/m50/mesh.stl     0   True       1.0
...    ...                ...   ...    ...       ...
1737  1738  db/m1738/mesh.stl    17   True       1.0
1743  1744  db/m1744/mesh.stl    17   True       1.0
1744  1745  db/m1745/mesh.stl    17   True       1.0
1745  1746  db/m1746/mesh.stl    17   True       1.0
1791  1792  db/m1792/mesh.stl    17   True       1.0

[101 rows x 5 columns]

In [11]:
info2.to_csv(jn(db_p,'info.csv'),index=False)